# directories
cache
coverage
node_modules
out

# files
.env*
.fireblocks.*
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
deployments/*

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/
